.clearfix:before, .clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
}
#page {
	margin: 0 auto;
	padding: 50px 0 0 0;
	width: 960px;
}
#snake-grid {
	float: left;
	padding: 1px;
	border: 1px solid #000;
}
#snake-grid .row {
}
#snake-grid .row .col {
	float: left;
	margin: 1px;
	width: 20px;
	height: 20px;
	background: #fff;
}
#snake-grid .row .col.on {
	background: #000;
}





































